name: Run SpinW tests

on:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Install Matlab
        run: |
          wget -qO- --retry-connrefused https://storage.googleapis.com/matlabimagesus/public/install.sh | sudo -E bash
      - name: Get SpiW
        run: |
          git clone https://github.com/spinw/spinw.git
      - name: Run Matlab
        run: |
          matlab -batch "addpath(genpath('spinw')); run runspinwFunctionalityTests.m"
